
.RecordWrapper dl {
    margin-bottom: 5px;
}

.RecordWrapper dt {
    color: #c46076;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.RecordWrapper dd {
    margin-bottom: 0;
}

.OtherForms {
    border-top: 1px dotted #EEE;
    padding-top: 20px;
    margin-top: 20px;
}

.FilterButton {
    margin-top: 30px;
    text-align: center;
}
