.Header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 60px;
    line-height: 30px;
    background-color: #F9F9F9;
    padding: 0 20px;
}

.Logo {
    padding: 10px 0;
    height: 60px;
    opacity: .7;
}

.Menu {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    background-color: inherit;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MenuItem {
    font-weight: 500;
}
