.Footer {
    color: #CCC;
    font-size: 13px;
    width: 100%;
    padding: 0 30px;
    min-height: 150px;
    background-color: #333;
    z-index: 1;
}

.Info {
    margin: 20px;
}

.Info a {
    color: #CCC;
    border-bottom: 1px dotted;
}

.Image {
    margin: 20px 0;
    padding: 0 20px;
    text-align: center;
}

.FooterLink:hover {
    text-decoration: underline;
}
