.ResultItem {
    margin-bottom: 20px;
}

.ResultItemData {
    margin-left: 30px;
    margin-bottom: 40px;
    font-weight: 400;
}

.Thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    min-height: 200px;
}

.ThumbnailRestricted {
    font-family: 'Bebas Neue', cursive;
    color: #AAA;
    text-align: center;
}

.Title {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.ItemType {
    margin-bottom: 10px;
}
