.ResultItem {
    margin-bottom: 20px;
}

.ResultItemData {
    margin-left: 30px;
    margin-bottom: 40px;
    font-weight: 400;
}

.Thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    min-height: 200px;
}

.ThumbnailRestricted {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #AAA;
    text-align: center;
}

.Title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.Title em {
    font-style: normal;
    padding: 0 5px;
    color: #c46076;
    background-color: rgba(102, 102, 102, 0.1);
}

.ItemType {
    margin-bottom: 10px;
}

.More {
    font-weight: 700;
    font-size: 14px;
    margin-top: 5px;
    line-height: 14px;
}

.Highlight {
    background-color: #FFF;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

.Drawer :global .ant-drawer-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #c46076;
    font-size: 30px;
    line-height: 40px;
    display: inline;
}

